@import "styles.css";


.vitrina-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden;
    /* ESTOS SON LOS CAMBIOS PARA SUBIRLO */
    margin-top: -50px;
    /* Ajusta este número (negativo) hasta que el carrusel toque donde quieras */
    z-index: 5;
    /* Asegura que no se oculte detrás del encabezado */
}

.vitrina {
    perspective: 1800px;
    cursor: grab;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 260px;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, #0000, #000 12% 88%, #0000);
    mask-image: linear-gradient(90deg, #0000, #000 12% 88%, #0000)
}

.vitrina:active {
    cursor: grabbing
}

.anime-card-wrapper {
    transform-style: preserve-3d;
    will-change: transform;
    position: absolute
}

.anime-btn {
    cursor: pointer;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background: #ffffff0a;
    border: 1px solid #ffffff14;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
    transition: background .3s, border-color .3s, box-shadow .3s, transform .3s;
    display: flex
}

.anime-btn.active {
    background: var(--light-bg);
    border-color: var(--quicksand);
    box-shadow: 0 0 20px var(--swan-wing)
}

.anime-btn img {
    object-fit: contain;
    filter: grayscale(20%);
    width: 70%;
    height: 70%;
    transition: filter .4s, transform .4s
}

.anime-btn.active img {
    filter: grayscale(0%);
    transform: scale(1.05)
}

.nav-btn {
    opacity: 0; /* Invisibles visualmente pero clickeables */
    cursor: pointer;
    z-index: 9999;
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
}

.left {
    left: 25px
}

.right {
    right: 25px
}

/*$vite$:1*/



/* Esto solo afecta a pantallas pequeñas (móviles) */
@media (max-width: 480px) {

    .nav-btn {
        background: transparent;
        /* Quitas el fondo semi-transparente */
        border: none;
        opacity: 0;
        /* Los haces 100% invisibles */
        transition: opacity 0.3s;
    }



    .left {
        left: 3px;
        /* Más pegado al borde izquierdo en móvil */
    }

    .right {
        right: 3px;
        /* Más pegado al borde derecho en móvil */
    }
}